@model Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>


<div class="row">
    <div class="col-md-4">
        <h4>Bize Ulaşın</h4>
        <hr />
        <form asp-action="ContactUs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
        </form>
        @Html.Raw(TempData["Mesaj"])
    </div>
    <div class="col-md-4">
        <h4>Adres Bilgilerimiz</h4>
        <hr />
        <p>
            Doğu mah. Batı Sk. No : 18 Arı İş Merkezi
            <br />
            Pendik / İst.
            <br />
            info@siparisyonetim.com
            <br />
            0850 850 85 18
        </p>
    </div>
    <div class="col-md-4">
        <h4>Harita</h4>
        <hr />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3016.6647909984836!2d29.233057000000002!3d40.87923!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa053e0b7ec57d6!2sAr%C4%B1%20Bilgi%20Bili%C5%9Fim%20Teknolojileri%20Akademisi!5e0!3m2!1str!2sus!4v1673540956068!5m2!1str!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
